<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="LogSearchShipperGroup">
      <section name="LogSearchShipper"
               type="LogSearchShipper.Core.ConfigurationSections.LogSearchShipperSection, LogSearchShipper.Core"
               allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <LogSearchShipperGroup>
    <LogSearchShipper data_folder="data" ingestor_host="ingestor.meta.logsearch.io" ingestor_port="443"
                      shipper_service_username="" shipper_service_password="">
      <edbFileWatchers>
        <watch dataFile="SampleData\EDB\ENV1\Latest.xml" logEnvironmentDiagramDataEveryMinutes="10"
          networkAreas=".*" serverNames=".*" serviceNames=".*">
          <field key="environment" value="QAT" />
          <overrideConfigs>
            <overrideConfig forServiceNames="Price" closeWhenIdle="false" sourceTailer="MT">
              <customNxLogConfig>
                Exec   if not ($raw_event =~ /DEBUG/ ) drop();
              </customNxLogConfig>
              <field key="environment" value="CUSTOM_VALUE" />
            </overrideConfig>
          </overrideConfigs>
        </watch>
      </edbFileWatchers>
    </LogSearchShipper>
  </LogSearchShipperGroup>
</configuration>