<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="logstashForwarderGroup">
      <section
        name="logstashForwarder"
        type="LogstashForwarder.Core.ConfigurationSections.LogstashForwarderSection, LogstashForwarder.Core"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
    </sectionGroup>
  </configSections>

  <logstashForwarderGroup>
    <logstashForwarder servers="endpoint.example.com:5034" ssl_ca="C:\Logs\mycert.crt" timeout="23">
      <watches>
        <watch files="myfile.log" type="myfile_type">
          <field key="field1" value="field1 value" />
          <field key="field2" value="field2 value" />
        </watch>
        <watch files="C:\Logs\myfile.log" type="type/subtype">
          <field key="key/subkey" value="value/subvalue" />
        </watch>
      </watches>
      <environmentWatches>
        <environmentWatch
        dataFile="environment-data.json"
        environmentNames="TEST"
        serverGroupNames="DMZ|APP"
        serverNames="(.*01|.*02)"
        serviceNames="nolio.*"
        >
          <field key="key/subkey" value="value/subvalue" />
        </environmentWatch>
      </environmentWatches>
    </logstashForwarder>
  </logstashForwarderGroup>
</configuration>