<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="logstashForwarderGroup">
      <section
        name="logstashForwarder"
        type="LogstashForwarder.Core.LogstashForwarderSection, LogstashForwarder.Core"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
    </sectionGroup>
  </configSections>

  <logstashForwarderGroup>
    <logstashForwarder servers="endpoint.example.com:5034" ssl_ca="mycert.crt" timeout="23">
      <watch files="myfile.log" type="myfile_type">
        <field key="field1" value="field1 value" />
        <field key="field2" value="field2 value" />
      </watch>
    </logstashForwarder>
  </logstashForwarderGroup>
</configuration>