<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="LogSearchShipperGroup">
      <section
        name="LogSearchShipper"
        type="LogSearchShipper.Core.ConfigurationSections.LogSearchShipperSection, LogSearchShipper.Core"
        allowLocation="true"
        allowDefinition="Everywhere" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <appSettings>
    <add key="EsServerUrl" value="http://api.meta.logsearch.io/" />
  </appSettings>

  <log4net>
    <appender name="MemoryAppender" type="log4net.Appender.MemoryAppender" />
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level [%thread] - %.255message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="MemoryAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>

  <LogSearchShipperGroup>
    <LogSearchShipper data_folder="data" ingestor_host="ingestor.example.com" ingestor_port="443">
      <fileWatchers>
        <watch files="myfile.log" type="myfile_type">
          <field key="field1" value="field1 value" />
          <field key="field2" value="field2 value" />
        </watch>
        <watch files="C:\Logs\myfile.log" type="type/subtype">
          <field key="key/subkey" value="value/subvalue" />
        </watch>
      </fileWatchers>
      <edbFileWatchers>
        <watch
          dataFile="SampleData\EDB\ENV1\Latest.xml"
          logEnvironmentDiagramDataEveryMinutes="42">
          <field key="edb_key/subkey" value="edb_value/subvalue" />
        </watch>
        <watch
          dataFile="SampleData\EDB\ENV2\Latest.xml"
          networkAreas="DMZ|APP"
          serverNames="(.*01|.*02)"
          serviceNames="nolio.*">
          <field key="environment" value="ENV2" />
        </watch>
      </edbFileWatchers>
    </LogSearchShipper>
  </LogSearchShipperGroup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>