<?xml version="1.0" encoding="utf-8"?>
<!--
Rename to LogSearchShipper.Service.exe.config 

Change the settings to fit your environment
-->
<configuration>
	<configSections>
		<sectionGroup name="LogSearchShipperGroup">
			<section
			        name="LogSearchShipper"
			        type="LogSearchShipper.Core.ConfigurationSections.LogSearchShipperSection, LogSearchShipper.Core"
			        allowLocation="true"
			        allowDefinition="Everywhere"
			      />
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<LogSearchShipperGroup>
		<LogSearchShipper data_folder="data" ingestor_host="ingestor.you-logsearch-cluster.com" ingestor_port="443"
                      shipper_service_username="" shipper_service_password="">
			<!-- Extract information on what logs to ship from EDB -->
			<edbFileWatchers>
				<watch
					dataFile="SampleData/EDB/ENV1/Latest.xml"
					logEnvironmentDiagramDataEveryMinutes="1"
					networkAreas="DMZ|APP"
					serverNames="(.*01|.*02)"
					serviceNames="nolio.*"
			>
					<field key="environment" value="ENV1" />
				</watch>
			</edbFileWatchers>
			<!-- Specify files you want to ship that are not in EDB like this -->
			<fileWatchers>
<!--				<watch files="C:\Windows\WindowsUpdate.log" type="plain">-->
<!--					<field key="environment" value="ENV1" />-->
<!--					<field key="service" value="WindowsUpdate" />-->
<!--				</watch>-->
<!--				<watch files="C:\Windows\WindowsUpdate.log" type="plain">-->
<!--					<field key="environment" value="ENV1" />-->
<!--					<field key="service" value="WindowsUpdate" />-->
<!--				</watch>-->
			</fileWatchers>
		</LogSearchShipper>
	</LogSearchShipperGroup>
	
	<log4net>
		<root>
			<level value="INFO" /> <!-- Warning: DEBUG level causes a 10% increase in CPU load -->
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="MainLogAppender" />
		</root>
		<logger name="EnvironmentDiagramLogger" additivity="false">
			<level value="INFO" />
			<appender-ref ref="EnvironmentDiagramRollingFileAppender" />
		</logger>
		<logger name="EdbExpectedEventSourcesLogger" additivity="false">
			<level value="INFO" />
			<appender-ref ref="EdbExpectedEventSourcesAppender" />
		</logger>
		<appender name="ConsoleAppender" type="LogSearchShipper.Log4net.DefaultConsoleAppender" />
		<appender name="MainLogAppender" type="LogSearchShipper.Log4net.MainLogAppender">
			<file value="C:\Logs\LogSearchShipper-QAT\LogSearchShipper.log" />
		</appender>
		<!-- Write details of the EDB environment to EnvironmentDiagramData.log to drive environmentdiagram.cityindex.logsearch.io -->
		<appender name="EnvironmentDiagramRollingFileAppender" type="LogSearchShipper.Log4net.EnvironmentDiagramAppender">
			<file value="C:\Logs\LogSearchShipper-QAT\EnvironmentDiagramData.log" />
		</appender>
		<appender name="EdbExpectedEventSourcesAppender" type="LogSearchShipper.Log4net.EdbExpectedEventSourcesAppender">
			<file value="C:\Logs\LogSearchShipper-QAT\EDB_expected_event_sources.log" />
		</appender>
	</log4net>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.122.0" newVersion="3.1.122.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
