<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="LogsearchShipperGroup">
      <section
        name="LogsearchShipper"
        type="LogsearchShipper.Core.ConfigurationSections.LogsearchShipperSection, LogsearchShipper.Core"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
    </sectionGroup>
  </configSections>

  <LogsearchShipperGroup>
    <LogsearchShipper servers="ingestor.example.com:5043" ssl_ca="C:\Logs\mycert.crt" timeout="23">
      <fileWatchers>
       <watch files="myfile.log" type="myfile_type">
          <field key="field1" value="field1 value" />
          <field key="field2" value="field2 value" />
        </watch>
        <watch files="C:\Logs\myfile.log" type="type/subtype">
          <field key="key/subkey" value="value/subvalue" />
        </watch>
      </fileWatchers>
      <edbFileWatchers>
        <watch
	        dataFile="SampleData\EDB\ENV1\Latest.xml"
          logEnvironmentDiagramDataEveryMinutes="42"
	        networkAreas="DMZ|APP"
	        serverNames="(.*01|.*02)"
	        serviceNames="nolio.*" 
	    >
          <field key="edb_key/subkey" value="edb_value/subvalue" />
        </watch>
      </edbFileWatchers>
    </LogsearchShipper>
  </LogsearchShipperGroup>

</configuration>